redis-master:
  image: hub.docker.vpclub.cn/vpclub/redis:latest
  container_name: redis-master
  ports:
    - 6379:6379

redis-slave1:
  image: hub.docker.vpclub.cn/vpclub/redis:latest
  container_name: redis-slave1
  volumes:
    - .:/usr/local/etc/redis/
  command: redis-server /usr/local/etc/redis/redis.conf
  links:
    - redis-master
redis-slave2:
  image: hub.docker.vpclub.cn/vpclub/redis:latest
  container_name: redis-slave2
  volumes:
    - .:/usr/local/etc/redis/
  command: redis-server /usr/local/etc/redis/redis.conf
  links:
    - redis-master
redis-slave3:
  image: hub.docker.vpclub.cn/vpclub/redis:latest
  container_name: redis-slave3
  volumes:
    - .:/usr/local/etc/redis/
  command: redis-server /usr/local/etc/redis/redis.conf
  links:
    - redis-master


